/* frontend/src/components/LandingPage.css */
.landing-page {
  display: flex;
  text-align: center;
  padding: 2rem;
}

.main-content {
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.main-content.with-sidebar {
  margin-left: 250px; /* Width of the sidebar */
}

.main-content.full-width {
  margin-left: 0;
}

.toggle-sidebar-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

.toggle-sidebar-button:hover {
  background-color: #0056b3;
}